
<div class="album py-5 bg-light">
        <div class="container" >

          <div class="row" >
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top"  style="height: 225px; width: 100%; display: block;" src="https://iitu.edu.kz/media/images/GRAMOTA_8.original.format-jpeg.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">12 апреля 2021 года в МУИТ стартовала традиционная неделя русского языка</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://iitu.edu.kz/media/images/9d4da3df-354a-4bb6-9a59-dbe6f3f51958.original.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">АО «МУИТ» подписало меморандум о сотрудничестве с Алматинской академией МВД РК имени Есбулатова</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://iitu.edu.kz/media/images/image_2021-04-04_10-08-57.width-500.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Успешное выступление студентов МУИТ на чемпионате Северной Евразий по программированию ICPC Northern Eurasia Final 2021</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

                       <div class="col-md-4">
                         <div class="card mb-4 box-shadow">
                           <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://iitu.edu.kz/media/images/Risunok1_wkWdBhz.width-800.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                           <div class="card-body">
                             <p class="card-text">Итоги Молодежного цифрового форума YDF-2021</p>
                             <div class="d-flex justify-content-between align-items-center">
                               <div class="btn-group">
                                 <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                 <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                               </div>
                               <small class="text-muted">9 mins</small>
                             </div>
                           </div>
                         </div>
                       </div>
                                   <div class="col-md-4">
                                     <div class="card mb-4 box-shadow">
                                       <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://iitu.edu.kz/media/images/IMG_6219.width-500.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                                       <div class="card-body">
                                         <p class="card-text">РЕКТОРЫ IITU И SDU ПОДПИСАЛИ МЕМОРАНДУМ О СОТРУДНИЧЕСТВЕ</p>
                                         <div class="d-flex justify-content-between align-items-center">
                                           <div class="btn-group">
                                             <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                             <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                           </div>
                                           <small class="text-muted">9 mins</small>
                                         </div>
                                       </div>
                                     </div>
                                   </div>
         
          </div>
        </div>
      </div>
